.cart{
    max-width: 1247px;
    width: 100%;
    margin: 3rem auto;
}

.cart .content{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 3rem auto;
}
.cart .list-product .title{
    font-weight: 600;
}
.cart .list-product .product,
.cart .list-product .title
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 1rem auto;
}

.cart .list-product .product .quantity-control{
    display: flex;
    gap: 1rem;
}

.cart .list-product .product .quantity-control p i{
    cursor: pointer;
}

.cart .list-product .product a{
    color: #323539;
}

.cart .list-product .product img{
    width: 8rem;
    height: 10rem;
    object-fit: cover;
}

.cart .list-product .btn-order-cart{
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    margin-right: 5rem;
}

.cart .list-product .btn-order-cart a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 176, 37);
    color: white;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.4s;
}

.cart .list-product .btn-order-cart a:hover{
    background-color: rgb(5, 199, 44);
    transition: 0.4s;
}

.cart .content .total{
    background-color: #f1f1f1;
    width: 100%;
    height: 20rem;
    padding: 1.5rem;
    border-radius: 2rem;
}